body{font-family: 'Recursive', sans-serif;}
*{box-sizing: border-box;}
.telaInicio{
    width: 100vw;height: 100vh;
    background-color: #FB6B6B;
    justify-content: space-around;
}
main{
    width: 100vw;height: 87vh;
    background-color: #FB6B6B;
}
footer{
    width: 100vw;height: 13vh;
    background-color: white;
    position: fixed;bottom:0;
    justify-content: center;
}

.logo.linha{margin-top:4vh;margin-bottom:6vh}
.coluna{display: flex;flex-direction: column;align-items: center;}
.linha{display: flex;align-items: center;}

h1{
    font-family: 'Righteous', cursive;
    color: white;
}
.coluna h1{font-size: 7vh;}
.linha h1{font-size: 6vh;}
.telaInicio img{width: 15vh;}
main .logo img{width: 10vh;
    margin-right: 1vh;
}

.sombra{
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
border-radius: 1vh;padding:2vh
}
.botaoInicio{
    width: 35vh;
height: 8vh;border: 0.3vh solid #D70900;
color:#D70900;
font-size:3vh
}

p{
    font-family: 'Recursive', sans-serif;
    font-size: 3.5vh;
}
p strong{font-weight: 700;}
.pergunta{
    width: 90vw;height: 11vh;
    background-color: white;
    margin:2vh;
    justify-content: space-between;
}
.pergunta p{font-weight: 700;}
ion-icon{font-size: 5vh;}

.card{
    width: 90vw;height: 20vh;
    background-color: #FFFFD5;
    position: relative;
    margin:2vh
}

section .questao button{background-color: #FFFFD5;border:0}
section .questao button img{width: 5vh;position: absolute;bottom:2vh;right:2vh}

section .resposta{position: relative;}
section .resposta div{
    position: absolute;bottom:2vh;
    width: 85vw;display: flex;justify-content: space-around;
}
section .resposta button{
    width: 26vw;height: 6vh;border-radius: 1vh;
    border:0;color:white
}
.ruim{background-color:#FF3030}
.medio{background-color:#FF922E}
.bom{background-color:#2FBE34}
.ruimCor{color:#FF3030}
.medioCor{color:#FF922E}
.bomCor{color:#2FBE34}
.ruimIcone ion-icon{background-color:#FF3030; color:white; border-radius: 50%;margin:0.3vh}
.medioIcone ion-icon{background-color:#FF922E; color:white; border-radius: 50%;margin:0.3vh}
.bomIcone ion-icon{background-color:#2FBE34; color:white; border-radius: 50%;margin:0.3vh}

.final{height: 28vh;justify-content: space-around;}
footer div{width: 100%;display:flex;justify-content: center;align-items: center;}
.caixatexto{width: 80vw;}

footer img{width: 4vh;margin-right: 1vh;}


.bloqueia{pointer-events: none}
.some{display:none}